@media screen and (min-width: 350px) and (max-width: 479px) {
    /*ENTRADA*/
    .menu {
        & img {
            margin-left: 20px;
        }
        & a {
            margin-right: 20px;
        }
    }
    .titulos-header {
        left: 0px;
        top: 40%;
        text-align: center;
        & h1 {
            font-size: 35px;
        }
        & p {
            font-size: 18px;
        }
        & a {
            font-size: 18px;
        }
    }
    .estrutura-redes{
        bottom: 50px;
    }

    /*SOBRE*/
    .sobre {
        flex-direction: column;
        padding-bottom: 70px;
    }
    .imagens-sobre {
        height: 400px;
        width: 100%;
    }
    .texto-sobre {
        width: 90%;
        gap: 20px;
        align-items: center;
        text-align: center;
        & h1 {
             font-size: 25px;
        }
        & span {
            font-size: 25px;
        }
        & p {
            font-size: 18px;
        }
    }

    /*CHAMADA*/
    .chamada {
        gap: 50px;
        padding: 70px 5px;
        flex-direction: column;
        & img {
            height: 230px;
        }
    }
    .chamada-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            margin-bottom: 5px;
            font-size: 25px;
        }
        ul{
            font-size: 13px;
        }
        li{
            font-size: 11px;
        }
        & p {
            font-size: 13px;
            text-align: center;
        }
        & a {
            font-size: 18px;
        }
    }

    /*SERVICOS*/
    /*PATOLOGIAS*/
    .patologias, .servicos {
        padding: 50px 0px;
        background-size: 0px;
        & h1 {
            font-size: 25px;
        }
    }
    .patologias-interno, .servicos-interno {
        gap: 30px;
        & h1, h2{
            font-size: 20px;
        }
        & p{
            font-size: 14px;
        }
    }
    .servico{
        height: 190px;
    }

    /*FEEDBACKS*/
    .feedbacks {
        & h1 {
            font-size: 25px;
        }
        & a {
            padding: 15px 20px;
        }
    }
    .feed {
        margin-left: 10px;
        gap: 10px;
        padding: 10px;
        height: 190px;
        width: 300px;

        & p {
            font-size: 14px;
        }
        & span {
            font-size: 15px;
        }
    }
    .estrelas {
        & svg {
            font-size: 18px;
        }
    }

    /*LOCALIZAÇÃO*/
    .localizacao {
        padding: 10px;
        & iframe {
            width: 100%;
            height: 300px;
        }
    }

    /*RODAPÉ*/
    .empresa {
        & img {
            height: 100px;
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 689px) {
    /*HEADER*/
    .menu {
        & img {
            margin-left: 20px;
        }

        & a {
            margin-right: 20px;
        }
    }
    .titulos-header {
        left: 0px;
        top: 40%;
        text-align: center;
        & h1 {
            font-size: 40px;
            width: 100%;
        }
        & p {
            font-size: 20px;
        }
        & a {
            font-size: 18px;
        }
    }
    .estrutura-redes{
        bottom: 50px;
    }

    /*SOBRE*/
    .sobre {
        flex-direction: column;
        padding-bottom: 70px;
    }
    .imagens-sobre {
        height: 450px;
        width: 100%;
    }
    .texto-sobre {
        width: 90%;
        gap: 20px;
        align-items: center;
        text-align: center;
        & h1 {
            font-size: 30px;
        }
        & span {
            font-size: 25px;
        }
        & p {
            font-size: 18px;
        }
    }

    /*CHAMADA*/
    .chamada {
        gap: 50px;
        padding: 50px 10px;
        flex-direction: column;
        & img {
             height: 300px;
        }
    }
    .chamada-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            margin-bottom: 5px;
            font-size: 30px;
        }
        ul{
            font-size: 16px;
        }
        li{
            font-size: 14px;
            line-height: 18px;
        }
        & p {
            font-size: 16px;
            text-align: center;
        }
        & a {
            font-size: 18px;
        }
    }

    /*SERVICOS*/
    /*PATOLOGIAS*/
    .patologias, .servicos {
        padding: 50px 0px;
        background-size: 0px;
        & h1 {
            font-size: 30px;
        }
    }
    .patologias-interno, .servicos-interno {
        gap: 50px;
        & h1{
            font-size: 25px;
        }
    }

    /*FEEDBACKS*/
    .feedbacks {
        & h1 {
            font-size: 30px;
        }
    }
    .feed {
        margin-left: 20px;
        gap: 15px;
        padding: 15px;
        height: 200px;
        width: 350px;

        & p {
            font-size: 15px;
        }
        & span {
            font-size: 16px;
        }
    }
    .estrelas {
        & svg {
            font-size: 20px;
        }
    }

    /*LOCALIZAÇÃO*/
    .localizacao {
        padding: 20px;
        & iframe {
            width: 100%;
            height: 400px;
        }
    }

    /*RODAPÉ*/
    .empresa {
        & img {
            height: 140px;
        }
    }
}

@media screen and (min-width: 690px) and (max-width: 849px) {
    /*ENTRADA*/
    .titulos-header {
        left: 50px;
        top: 40%;
        & h1 {
            font-size: 60px;
            width: 100%;
        }
    }
    .estrutura-redes{
        bottom: 50px;
    }

    /*SOBRE*/
    .sobre {
        flex-direction: column;
        padding-bottom: 50px;
    }
    .imagens-sobre {
        height: 650px;
        width: 100%;
    }
    .texto-sobre {
        width: 90%;
        gap: 20px;
    }

    /*CHAMADA*/
    .chamada {
        gap: 50px;
        padding: 50px 25px;
        flex-direction: column;
    }
    .chamada-texto{
        width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
        }
    }

    /*SERVICOS*/
    /*PATOLOGIAS*/
    .patologias, .servicos {
        background-size: 250px;
    }
    .patologias-interno, .servicos-interno {
        gap: 50px 50px;
    }

    /*FEEDBACKS*/
    .feed {
        margin-left: 20px;
        gap: 15px;
        padding: 15px;
        height: 230px;
        width: 430px;

        & p {
            font-size: 17px;
        }
        & span {
            font-size: 18px;
        }
    }

    /*LOCALIZAÇÃO*/
    .localizacao {
        & iframe {
            width: 95%;
        }
    }

    /*RODAPÉ*/
    .empresa {
        & img {
            height: 150px;
        }
    }
}

@media screen and (min-width: 850px) and (max-width: 999px) {
    /*ENTRADA*/
    .titulos-header {
        left: 100px;
        top: 40%;
        & h1 {
            font-size: 70px;
            max-width: 800px;
        }
    }
    .estrutura-redes{
        bottom: 50px;
    }

    /*SOBRE*/
    .sobre {
        gap: 15px;
    }
    .imagens-sobre {
        height: 650px;
        width: 60%;
    }
    .texto-sobre {
        width: 40%;
        gap: 20px;
        & h1 {
            font-size: 35px;
        }
        & span {
            font-size: 25px;
        }
        & p {
            font-size: 17px;
        }
    }

    /*CHAMADA*/
    .chamada {
        gap: 50px;
        padding: 50px;
        flex-direction: column;
    }
    .chamada-texto{
        width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
        }
    }

    /*SERVICOS*/
    /*PATOLOGIAS*/
    .patologias, .servicos {
        background-size: 300px;
    }
    .patologias-interno, .servicos-interno {
        gap: 50px 150px;
    }

    /*FEEDBACKS*/
    .feed {
        margin-left: 30px;
        gap: 20px;
        padding: 15px;
        height: 250px;
        width: 450px;

        & p {
            font-size: 18px;
        }
        & span {
            font-size: 19px;
        }
    }

    /*LOCALIZAÇÃO*/
    .localizacao {
        padding: 50px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    /*ENTRADA*/
    .estrutura-redes{
        bottom: 50px;
    }

    /*CHAMADA*/
    .chamada {
        padding: 100px 30px;
        gap: 10px;

        & img {
            height: 300px;
        }   
    }
    .chamada-texto {
        ul{
            font-size: 17px;
        }
        li{
            font-size: 15px;
            line-height: 18px;
        }
        p {
            font-size: 17px;
        }
    }

    /*SOBRE*/
    .sobre {
        gap: 15px;
    }
    .imagens-sobre {
        width: 60%;
    }
    .texto-sobre {
        width: 40%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    /*SOBRE*/
    .imagens-sobre {
        width: 60%;
    }
    .texto-sobre {
        width: 40%;
    }

    /*CHAMADA*/
    .chamada {
        padding: 100px 30px;
        gap: 30px;

        & img {
            height: 380px;
        }
    }
}